.container-about {
	display: flex;
	flex-direction: column;
}

.container-about p {
	column-count: 2;
	white-space: pre-wrap;
}

@media all and (max-width: 700px){
    .container-about p {
		column-count: 1;
	}
}
