.firms-info .firms-text {
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-overflow: ellipsis; 
}

.image-container {
	border-radius: 7px;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
	width: 100%;
	max-width: 300px;
	aspect-ratio: 3.5 / 1;
	border: solid;
	border-left: solid 15px;
	border-right: solid 15px;
	border-color: white;
	background-color:  white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loading {
	border-color: transparent;
	animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 76%);
  }
  100% {
    background-color: hsl(0, 0%, 100%);
  }
}

.firms-info img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

@media all and (max-width: 983px) {
	.firms-info {
		margin-left: 15px;
	}
}

@media all and (max-width: 700px) {
	.firms-info h2 {
		text-align: left;
		font-size: 15px;
	}

	.firms-info .firms-text {
		word-break: break-word;
	}

	.image-container {
		width: 80%;
		max-width: 200px;
		aspect-ratio: 3.5 / 1;
	}
}
