.container-firms{
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
	overflow: hidden;
}

.firms-list{
	float: left;
	max-width: 195px;
	margin: 0;
}

.firms-list li:hover{
	background-color: #FF0063;
	transition: 0.2s;
}

.firms-list button{
	cursor: pointer;
	background-color: transparent;
	border: none;
	width: 100%;
}

.firms-list h2{
	text-align: left;
	font-weight: 200;
	border-bottom: 1px solid #FF0063;
}

.firms-list h3{
	padding-left: 10px;
	padding-right: 0;
}

#firstFade{
	opacity: 0.5;
}

#secondFade{
	opacity: 0.2;
}

ul h2, ul button, ul{
	list-style-type: none;
	font-weight: bold;
	padding: 0;
	padding-left: 4px;
}

.firms-info{
	grid-column: 1;
	grid-row: 1;
	margin-left: 22px;
	margin-right: 5px;
	height: min-content;
}

.firms-info h2{
	padding-left: 2px;
	padding-right: 2px;
	text-align: left;
	font-size: 20px;
	padding-bottom: 50px;
	white-space: pre-wrap;
}

.image-container{
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 5px;
	width: 210px;
	height: 66.5px;
	border: solid;
	border-width: 2px;
	border-color: white;
	background-color:  white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.firms-info img{
	max-width:100%;
	max-height:100%;
	height: auto;
}

#map{
	width: 100%;
	height: auto;
}

.container-grid{
	display: grid;
	grid-template-columns: 50% auto;
	line-height: 1.1;
}

@media all and (max-width: 983px){
	.firms-info{
		margin-left: 15px;
	}
}

@media all and (max-width: 700px){
	.firms {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.firms-list{
		max-width: 100px;
	}

	.image-container{
		width: 140px;
		height: 44.3px;
	}

	.firms-info{
		margin-top: 0px;
		padding-top: 10px;
		margin-left: 5px;
		grid-column: 1;
		grid-row: 2;
	}

	.firms-info h2{
		font-size: 15px;
	}

	.firms-map{
		grid-column: 1;
		grid-row: 1;
		width: 100%;
	}

	.container-grid{
		display: flex;
		flex-direction: column;
	}
}