footer section{
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

footer div{
	margin: 10px;
}

footer #logo{
	width: 250px;
}

#contact{
	display: grid;
}

#location{
	grid-row: 2;
	grid-column: 1;
}

#meil{
	padding-left: 5px;
	grid-row: 1;
	grid-column: 2;
}

#loc{
	padding-left: 5px;
	grid-row: 2;
	grid-column: 2;
}

hr{
	margin-top: 0;
	height:2px;
	width: 90%;
	border-width:0;
	background-color:white;
}

#footer{
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

#links {
	display: flex;
	justify-content: center;
	width: 200px;
}

#links a {
	display: block;
	height: 30px;
	width: 30px;
	margin: 0 5px;
	padding: 0;
	border: 2px solid transparent;
	border-radius: 30px;
}

#links a:hover {
	border-color: white;
}

@media all and (max-width: 700px){
    footer section{
		flex-direction: column;
	}

	#links a {
		border: none;
	}
	
	#links a:hover {
		border: none;
	}
}