.container-gallery {
    margin-top: 40px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.container-gallery .image {
    position: relative;
    width: 390px;
    height: 279px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.container-gallery img {
    position: absolute;
    height: 279px;
    border-radius: 10px;
    transition: opacity 0.5s;
}

@media all and (max-width: 700px) {
	.container-gallery .image {
        width: 300px;
        height: 200px;
    }
}