.container-questions {
	display: flex;
	justify-content: center;
}

.container-questions .image {
    width: 400px;
    height: 279px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.container-questions img {
    height: 100%;
    border-radius: 10px;
}

.container-questions ul {
	margin: 0;
    padding-left: 25px;
}

.container-questions .text {
    width: 670px;
    margin-right: 50px;
	display: flex;
	flex-direction: column;
    white-space: pre-wrap;
}

.container-questions .text h2 {
    text-align: left;
}

@media all and (max-width: 983px){
    .container-questions .image {
		display: none;
	}

	.container-questions .text {
		width: auto;
        margin-right: 0;
	}
}
